@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


@font-face {
  font-family: 'ABC Monument Grotesk';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
  url('/assets/fonts/ABCMonumentGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ABC Monument Grotesk Light';
  font-style: normal;
  src: url('/assets/fonts/ABCMonumentGrotesk-Light.woff2') format('woff2'),
  url('/assets/fonts/ABCMonumentGrotesk-Light.woff') format('woff');
}

@font-face {
  font-family: 'ABC Monument Grotesk Bold';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/ABCMonumentGrotesk-Bold.woff2') format('woff2'),
  url('/assets/fonts/ABCMonumentGrotesk-Bold.woff') format('woff');
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-monument: 'ABC Monument Grotesk', sans-serif;
  --font-monument-bold: 'ABC Monument Grotesk Bold', sans-serif;
  --font-monument-light: 'ABC Monument Grotesk Light', sans-serif;
  --foreground-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @apply transition-colors duration-200;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(0,0,0);
  background: linear-gradient(123deg, rgba(0,0,0,1) 0%, rgba(3,20,97,1) 100%);


}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  @apply flex flex-col justify-center items-center relative p-0 min-h-screen w-full overflow-hidden;
}

.scaffold-container {
  @apply flex-col justify-center items-center relative h-screen w-full overflow-hidden;
}

.tagline {
  @apply font-[var(--font-monument-light)] text-sm pt-4 tracking-widest z-[99];
}

.start {
  @apply font-[var(--font-monument-light)] text-xl tracking-widest z-[99];
}

.code {
  @apply font-[var(--font-monument-bold)];
}

.custom-grid {
  @apply grid grid-cols-4 gap-4 w-[var(--max-width)] max-w-full mb-12 justify-items-center;
}

.card {
  position: relative; 
  padding: 0.8rem 1rem;
  height: 2.75rem;
  gap: 0.5rem;
  margin: 1rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(107 114 128);
  border-radius: 8px 2px;
  transform-style: preserve-3d;
  width: 14rem;
  text-align: center;
  opacity: 1;
  filter: none;
  color: black;
  transition: 0.3s;
  color: rgb(255 255 255);
}

.card:hover {
  border: 1px solid rgb(156 163 175);
  
}

.card span {
  @apply inline-block transition-transform duration-200 text-sm font-bold;
}

.card h2 {
  @apply flex font-semibold mb-2 justify-between tracking-wider;
}

.card h2 div {
  @apply flex;
}

.card p {
  @apply m-0 opacity-60 text-sm pr-2 leading-3 max-w-[30ch] font-light;
}

.center {
  @apply flex flex-col justify-center items-center text-center p-0;
}

.logo {
  @apply relative mix-blend-difference invert-70;
}

@media (max-width: 700px) {
  .content {
    @apply p-16;
  }

  .custom-grid {
    @apply grid-cols-1 max-w-[320px] grid-rows-4;
  }

  .start {
    @apply mb-8 pl-2.5 text-center;
  }

  .card {
    @apply p-3.5 px-4 pb-2.5;
  }

  .center {
    @apply flex flex-col justify-center items-center text-center py-0 pb-12 pl-0.5;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .custom-grid {
    @apply grid-cols-2;
  }
}

@keyframes dot1 {
  0%, 20%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes dot2 {
  0%, 40%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes dot3 {
  0%, 60%, 100% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

.loadingText {
  @apply text-[1.8em] font-[var(--font-monument-light)] text-center bg-gradient-to-r from-[#ff41df] via-[#00d0ff] via-[#fd8904] to-[#00d0ff] bg-clip-text text-transparent;
  animation: animate 3s ease-in-out infinite;
  background-size: 200% 200%; 
}

.loadingText span {
  @apply font-extrabold block;
}

@keyframes animate {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.navbar {
  @apply absolute top-0 left-0 w-full flex justify-end p-4 z-[1000];
}

.text-last-justify {
  text-align-last: justify;
}

.riddle-box {
  padding: 2rem;
  border-radius: 20px 5px;
  // font-family: "Fira Code", monospace;
  border: solid #ffffff;
}


